@page "/"

<PageTitle>ASP.NET Core 6.0 Blazor Server | user sign-in, protected web API access (Microsoft Graph) | Microsoft identity platform</PageTitle>

<h1>Welcome to User Sign In ASP.NET Core Blazor Server</h1>

<AuthorizeView>
  <Authorized>
    You are now signed-in.
  </Authorized>
</AuthorizeView>
